@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/PTSans-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #fffbef;
  background-image: url("/public/images/bg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rules {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.rules img {
  display: block;
  margin: 0 auto 30px;
}

.rules h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
}

.rules h3 {
  max-width: 520px;
  text-align: left;
  margin: 0 auto 15px;
  font-size: 16px;
  line-height: 20px;
}

.rules-list {
  padding: 0 20px 0 40px;
  margin: 0 auto 40px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  max-width: 500px;
  text-align: left;
}

.rules-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.rules-list li::before {
  content: "";
  width: 10px;
  height: 12px;
  background-image: url("/public/images/marker.png");
  background-position: center;
  background-repeat: no-repeat;
  flex: none;
}

.ico-button {
  padding: 10px 16px 10px 42px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2e63b3;
  background-position: left 12px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.ico-button:hover {
  background-color: #438eff;
}

.ico-button:active {
  background-color: #438eff;
}

.ico-button-fin {
 background-image: url("/public/images/fin-btn.png");
}

.ico-button-ger {
/*  background-image: url("../img/ger.svg");*/
}

.ico-button-ita {
/*  background-image: url("../img/ita.svg");*/
}

.rules .ico-button {
  margin-left: 5px;
  margin-right: 5px;
}

.game {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 575px;
}

.hit-points-indicator {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
}

.hit-points-used {
  width: 40px;
  height: 40px;
  background-image: url("/public/images/heart-black.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hit-points-unused {
  width: 40px;
  height: 40px;
  background-image: url("/public/images/heart-red.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.progress-wrapper {
  display: flex;
  justify-self: center;
  width: 287px;
  height: 12px;
  background-color: #cfd7e4;
  background-image: repeating-linear-gradient(to right, #cfd7e4, #cfd7e4 46px, #fffbef 46px, #fffbef 48px);
  border-radius: 18px;
  overflow: hidden;
}

.progress {
  background-image: repeating-linear-gradient(to right, #2e63b2, #2e63b2 46px, #fffbef 46px, #fffbef 48px);
  transition: width var(--animation-duration);
}

.cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.selected {
  outline: 4px solid #2e63b3;
  animation: pulse 1s 2;
}

.card.disabled {
  color: #ffffff;
  background-color: #cfd7e4;
  cursor: default;
}

.card.disabled img {
  opacity: 0.25;
}

.card:not(.selected).mismatch {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.card:not(.selected):not(.disabled):hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-finished::before {
  opacity: 1;
  animation: zoomInOut 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

.error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  outline: 4px solid #d70000;
}

.button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2e63b3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #438eff;
}

.button:active {
  background-color: #438eff;
}

.result {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.result img {
  display: block;
  margin: 0 auto 30px;
}

.result h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.result-table {
  width: 366px;
  padding: 20px;
  margin: 0 auto 30px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border-collapse: collapse;
}

.result-table-row {
  display: grid;
  grid-template-columns: 95px 155px 75px;
  align-items: center;
  margin: 0 20px 2px;
}

.result-table-row th {
  padding: 30px 20px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #cfd7e4;
  text-align: left;
}

.result-table-row td {
  padding: 9px 20px;
  text-align: left;
}

.result-table tbody tr:last-child {
  margin-bottom: 20px;
}

.result-table-row.active {
  font-weight: 700;
  background-color: #ecf1f9;
  border-radius: 20px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: hidden;
  overscroll-behavior: contain;
  pointer-events: auto;
  animation: fadeIn calc(var(--animation-duration) + 0.1s) calc(2 * var(--animation-duration)) both;
}

.modal-box {
  position: relative;
  width: 260px;
  min-height: 200px;
  max-height: calc(100vh - 60px);
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  box-sizing: border-box;
  text-align: center;
}

.modal-caption {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-image: url("/public/images/bg-green.svg");
  background-position: top center;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  max-height: 90px;
}

.modal-description {
  margin: 40px 0;
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal-box-lose .modal-caption {
  background-image: url("/public/images/bg-red.svg");
  background-position: top center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(46, 99, 178, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(46, 99, 178, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(46, 99, 178, 0.7);
  }
}